body {
    font-family: Helvetica;
    background-color: #8888FF;
    color: #BBBB00;
}

h1 {
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 62%;
    border: 3px solid #996600;
    background-color: #0000EE;
    display: block;
    text-align: center;
    font-size: 28pt;
}

#main {
    margin: auto;
    padding: 10px;
    width: 62%;
    background-color: #0000FF;
    border: 3px solid #996600;
    text-align: left;
    display: block;
}

#text {
    width: 39%;
    display: inline-block;
    vertical-align: top;
}

#text p {
    font-size: 16pt;
}

#text ul {
    margin: 0px 0px 5px 0px;
}

#text li {
    font-size: 14pt;
    list-style: none;
    padding-left: 15px;
    text-indent: -15px;
}

#text h6 {
    font-size: 20pt;
    text-align: center;
    background-color: #2222BB;
    border: 3px solid #996633;
    margin: 0;
}

#image {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

#tweet {
    background-color: #2222BB;
    border: 3px solid #996633;
    font-size: 18pt;
    margin: 0
}

#tweeter {
    font-size: 14pt;
    text-align: right;
}

img {
    width: 100%;
    margin: 0px 0px 10px 0px;
}


p {
    margin: 0 0 0 0;
}

a {
    color: #BBBB00;
}