<html>
    <head>
        <link rel="stylesheet" href="/static/stylesProject1.css" />
    </head>
    <body>
        <h1>Recipe related to {{recipe_seed}}:</h1>
        <div id="main">
            <div id="text">
                <h6>{{recipe_name}}</h6>
                <p>Ingredients:</p>
                <ul>
                    {%for i in range(0, num_ingredients)%}
                        <li>{{ingredients[i]}}</li> 
                    {%endfor%}
                </ul>
                <p>Cooks in {{prep}} minutes</br><hr/>Click <a href={{recipe_link}}>here</a> for detailed instructions</p>
            </div>
            <div id="image">
                <img src={{recipe_image}} />
                <div id="tweet">
                    <p>{{tweet[0]}}</p>
                    <p id="tweeter">- {{tweet[1]}}, {{tweet[2]}}</p>
                </div>
            </div>
        </div>
    </body>
</html>